.comment_Collection_MainController {
    margin-top: 15px;
    height:500px;
    overflow: scroll;
    /* border-top: 1px solid gray; */
}

.model_Controller {
    height:700px;
    overflow: scroll;
}

.grid_loop_Controll {
    border: 1px solid gray;
}